.jumbotron {
  background-color: pink;
  text-align: center;
}

.form-name {
  width: 500px
}

.form-weather {
  width: 250px;
}

.form-age {
  width: 125px
}

.btn {
  color: purple;
  background: pink;
}
